@model IEnumerable<PL.Models.ProductViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>List</h1>

<p>
    <a asp-controller="Product" asp-action="Add">Create New</a>



    <table class="table"  id="productTable">
    <thead>
        <tr>
                <th><input type="checkbox" id="selectAll" /> Select All</th> 
            <th>
                @Html.DisplayNameFor(model => model.prodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prodDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory.categoryDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                    <td><input type="checkbox" class="productCheckbox" value="@item.Id" /></td> 
                <td>
                    @Html.DisplayFor(modelItem => item.prodName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.prodDesc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.categoryDesc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

              
                <td>

                    <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a 
                        onclick="toggleActivation(this,'@Url.Action("ToggleActive", "Product")')"
                        data-product-id="@item.Id"
                        class="btn @(item.IsActive ? "btn-success" : "btn-danger")">
                        @(item.IsActive ? "Active" : "Inactive")
                    </a>
                       

                </td> 
            </tr>
        }

        @section Scripts 
        {
            <script src="~/js/ToggleActive.js"></script>
            <script src="~/js/SelectDeselect.js"></script>
        }
        
    </tbody>
</table>

    <button type="button" class="btn btn-success" 

    id="deleteButton">Delete Selected Products</button>
